<!-- 
Citation for general JavaScript files
Date: 06/10/2024
Adapted from JavaScript pages for the BSG Planets People Entity in the Developing in Node.JS Exploration Module.

Source URLs: 
- https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->


<!-- main.hbs-->



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AgriChain</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="./farmers">Farmers</a>
        <a href="./harvests">Harvests</a>
        <a href="./production-processing">Production Processing</a>
        <a href="/inventory">Inventory</a>
        <a href="./sales-orders">Sales Orders</a>
        <a href="./customers">Customers</a>
        <a href="./deliveries">Deliveries</a>
    </nav>

    {{{body}}}

</body>
</html>