<!-- main.hbs-->



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AgriChain</title>
    {{#each css}}
        <link rel="stylesheet" href="/css/main.css">
        {{/each}}
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="./farmers">Farmers</a>
        <a href="./harvests">Harvests</a>
        <a href="./production-processing">Production Processing</a>
        <a href="/inventory">Inventory</a>
        <a href="./sales-orders">Sales Orders</a>
        <a href="./customers">Customers</a>
        <a href="./deliveries">Deliveries</a>
    </nav>

    {{{body}}}

</body>
</html>