<!-- 
Citation for general JavaScript files
Date: 06/10/2024
Adapted from JavaScript pages for the BSG Planets People Entity in the Developing in Node.JS Exploration Module.

Source URLs: 
- https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<header>
    <h1>AgriChain</h1>
</header>
